.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
}
.note{
    color: black;
    font-size: 15px;
}
.copy-right_footer{
    position: fixed;
    bottom: 0;
    color: white;
    background-color: grey;
    line-height: 3;
    text-align: center;
    width:100%
}
canvas{
border: 5px solid grey;
border-radius: 20px;
box-shadow: 5px 5px 5px grey;
}